<!--    <a th:href="@{/list}">리스트_test3</a>-->

<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toolmarket Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.ico}">

    <!-- CSS here -->

    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder-logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <div th:insert="common/header" id="header"></div>
</header>
<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-100">
                            <h2>Product Category</h2>
                            <nav aria-label="breadcrumb ">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="prodList">Category</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Project Area Start -->
    <section class="project-area section-padding30">
        <div class="container">
            <div class="project-heading mb-35">
                <div class="row align-items-end">
                    <div class="col-lg-6">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle3">
                            <div class="front-text">
                                <h2 class="">category</h2>
                            </div>
                            <span class="back-text">category</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    <div class="tab-content active" id="nav-tabContent">
                        <!-- card ONE -->
                        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="project-caption">
                                <!-- Start Loop-->
                                <div class="row">
                                    <div th:each="category : ${categoryList}" class="col-lg-4 col-md-6">
                                        <div class="single-project mb-30">
                                            <div class="project-img">
                                                <img th:src="${category.cImageUrl}" alt="">
                                            </div>
                                            <div class="project-cap">
                                                <a th:href="@{'/detail/' + ${category.cId}}" class="plus-btn"><i class="ti-plus"></i></a>
                                                <h4><a th:href="@{'/detail/' + ${category.cId}}"><span th:text="${category.cName}"></span></a></h4>
                                                <h4><a th:href="@{'/detail/' + ${category.cId}}">Factory</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Loop -->
                            </div>
                        </div>
                    </div>
                    <!-- End Nav Card -->
                </div>
            </div>
        </div>
    </section>
    <!-- Project Area End -->
</main>
<footer>
    <div th:insert="@{common/footer}" id="footer"></div>
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/slick.min.js}"></script>
<!-- Date Picker -->
<script th:src="@{assets/js/gijgo.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:src="@{assets/js/wow.min.js}"></script>
<script th:src="@{assets/js/animated.headline.js}"></script>
<script th:src="@{assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{assets/js/jquery.sticky.js}"></script>

<!-- counter , waypoint -->
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>

<!-- contact js -->
<script th:src="@{assets/js/contact.js}"></script>
<script th:src="@{assets/js/jquery.form.js}"></script>
<script th:src="@{assets/js/jquery.validate.min.js}"></script>
<script th:src="@{assets/js/mail-script.js}"></script>
<script th:src="@{assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{assets/js/plugins.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>