<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form  action="/post" method="post">
        제목 : <input type="text" name="title"> <br>
        작성자 : <input type="text" name="writer"> <br>
        <textarea name="content"></textarea><br>

        <input type="submit" value="등록">
    </form>
</body>
</html>
 -->

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">

    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
             data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-100">
                            <h2>Contact</h2>
                            <nav aria-label="breadcrumb ">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Write</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h2 class="contact-title">board detail</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-contact contact_form" th:action="@{/post}" method="post" id="writeForm";
                          novalidate="novalidate">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <span th:text="${boardDto.title}" class="form-control" type="text"></span>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <input th:value="${bType}" name="bType" id="bType" type="text" hidden></input>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <span th:text="${boardDto.email}" class="form-control" type="email" ></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h4><span th:text="${boardDto.writer}" class="form-control" type="text"/></h4>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <h4><span th:text="${boardDto.bName}" class="form-control" type="text"/></h4>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea  th:text="${boardDto.content}" class="form-control w-100" cols="30" rows="9" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div style="padding-top:10px;"><a th:href="@{/boardUpdate(seq=${boardDto.seq})}" class="genric-btn success-border float-right">수정</a></div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Buttonwood, California.</h3>
                            <p>Rosemead, CA 91770</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                        <div class="media-body">
                            <h3>+1 253 565 2365</h3>
                            <p>Mon to Fri 9am to 6pm</p>
                        </div>
                    </div>
                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>support@colorlib.com</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ contact section end ================= -->
</th:block>
<th:block layout:fragment="pageScript">

</th:block>

</html>