<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <th:block layout:fragment="content">
        <main>
            <!-- slider Area Start-->
            <div class="slider-area ">
                <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="../assets/img/hero/about.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap pt-100">
                                    <h2>Board</h2>
                                    <nav aria-label="breadcrumb ">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Board</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider Area End-->

            <section class="project-area" style="padding-top:10px;">
                <div class="container">
                    <div class="project-heading mb-35">
                        <div class="row align-items-end">
                            <div class="col-lg-6">
                                <!-- Section Tittle -->
                                <div class="section-tittle section-tittle3">
                                    <!--<div class="front-text">
                                        <h2 class="">BOARD</h2>
                                    </div>-->
        <!--                            <span class="back-text">Gallary</span>-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="properties__button">
                                    <!--Nav Button  -->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link" id="nav-notice-tab" data-toggle="tab" href="#nav-notice" role="tab" aria-controls="nav-profile" aria-selected="false">Notice</span></a>
                                            <a class="nav-item nav-link" id="nav-qna-tab" data-toggle="tab" href="#nav-qna" role="tab" aria-controls="nav-contact" aria-selected="false">Q&A</a>
                                            <a class="nav-item nav-link" id="nav-news-tab" data-toggle="tab" href="#nav-news" role="tab" aria-controls="nav-contact" aria-selected="false">News</a>
                                        </div>
                                    </nav>
                                    <!--End Nav Button  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content active" id="tabContent">
                                <!-- card ONE -->
                                <div class="tab-pane fade active show" id="nav-notice" role="tabpanel" aria-labelledby="nav-notice-tab">
                                    <div class="project-caption">
                                        <div style="padding:10px 10px 10px 10px;">
                                            <div class="section-top-border" style="padding-top:25px;">
                                                <h3 class="mb-30">Notice</h3>
                                                <div class="progress-table-wrap">
                                                    <div class="progress-table">
                                                        <div class="table-head">
                                                            <div class="serial">No</div>
                                                            <div class="country">Title</div>
                                                            <div class="visit">Writer</div>
                                                            <div class="percentage">Date</div>
                                                        </div>
                                                        <div th:each="notice : ${noticeList}" class="table-row">
                                                            <div class="serial"><span th:text="${notice.seq}"></span></div>
                                                            <div class="country">
                                                                <a th:href="@{/boardDetail(seq=${notice.seq})}">
                                                                    <span th:text="${notice.title}"></span>
                                                                </a>
                                                            </div>
                                                            <div class="visit"><span th:text="${notice.writer}"></span></div>
                                                            <div class="percentage">
                                                                <span th:text="${#temporals.format(notice.cDate, 'yyyy-MM-dd HH:mm')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card TWO -->
                                <div class="tab-pane fade" id="nav-qna" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="project-caption">
                                        <div class="project-caption">
                                            <div style="padding:10px 10px 10px 10px;">
                                                <div class="section-top-border">
                                                    <h3 class="mb-30">Q&A</h3>
                                                    <div class="progress-table-wrap">
                                                        <div class="progress-table">
                                                            <div class="table-head">
                                                                <div class="serial">No</div>
                                                                <div class="country">Title</div>
                                                                <div class="visit">Writer</div>
                                                                <div class="percentage">Date</div>
                                                            </div>
                                                            <div th:each="qna : ${qnaList}" class="table-row">
                                                                <div class="serial"><span th:text="${qna.seq}"></span></div>
                                                                <div class="country"><a th:href="@{'/post/' + ${qna.seq}}">
                                                                    <span th:text="${qna.title}"></span>
                                                                </a></div>
                                                                <div class="visit"><span th:text="${qna.writer}"></span></div>
                                                                <div class="percentage">
                                                                    <span th:text="${#temporals.format(qna.cDate, 'yyyy-MM-dd HH:mm')}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="padding-top:10px;"><a th:href="@{/write(bType='B02')}" class="genric-btn success-border float-right">글쓰기</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card THREE -->
                                <div class="tab-pane fade" id="nav-news" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="project-caption">
                                        <div class="project-caption">
                                            <div style="padding:10px 10px 10px 10px;">
                                                <div class="section-top-border">
                                                    <h3 class="mb-30">Board</h3>
                                                    <div class="progress-table-wrap">
                                                        <div class="progress-table">
                                                            <div class="table-head">
                                                                <div class="serial">No</div>
                                                                <div class="country">Title</div>
                                                                <div class="visit">Writer</div>
                                                                <div class="percentage">Date</div>
                                                            </div>
                                                            <div th:each="board : ${boardList}" class="table-row">
                                                                <div class="serial"><span th:text="${board.seq}"></span></div>
                                                                <div class="country"><a th:href="@{'/post/' + ${board.seq}}">
                                                                    <span th:text="${board.title}"></span>
                                                                </a></div>
                                                                <div class="visit"><span th:text="${board.writer}"></span></div>
                                                                <div class="percentage">
                                                                    <span th:text="${#temporals.format(board.cDate, 'yyyy-MM-dd HH:mm')}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="padding-top:10px;"><a th:href="@{/write(bType='B03')}" class="genric-btn success-border float-right">글쓰기</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Nav Card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Project Area End -->
        </main>
    </th:block>
    <th:block layout:fragment="pageScript">

        <script>
            $(document).ready(function () {
                //페이지 최초 로딩시 Notice Tab 선택
                $('#nav-notice-tab').trigger("click");
            });
        </script>

    </th:block>

</html>