<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">

            <link rel="manifest" th:href="@{site.webmanifest}">
            <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.ico}">

            <title>Toolmarket Test</title>

            <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
            <link rel="stylesheet" th:href="@{assets/css/slicknav.css}">
            <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
            <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}">
            <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
            <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
            <link rel="stylesheet" th:href="@{assets/css/slick.css}">
            <link rel="stylesheet" th:href="@{assets/css/nice-select.css}">
            <link rel="stylesheet" th:href="@{assets/css/style.css}">

        </head>
    </th:block>
</html>