<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toolmarket Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{assets/img/favicon.ico}">

    <!-- CSS here -->

    <link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{assets/css/style.css}">
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{assets/img/logo/loder-logo.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <div th:insert="common/header" id="header"></div>
</header>

<main>
    <!-- slider Area Start-->
    <!--최상위이미지-->
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-11">
                            <div class="hero__caption">
                                <div class="hero-text1">
                                    <span data-animation="fadeInUp" data-delay=".3s">Hydraulic Equipment</span>
                                </div>
                                <h1 data-animation="fadeInUp" data-delay=".5s">Company</h1>
                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">
                                    <h2>company</h2>
                                    <h2>company</h2>
                                </div>
                                <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">
                                    <span><a th:href="prodList">About Product</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-11">-->
<!--                            <div class="hero__caption">-->
<!--                                <div class="hero-text1">-->
<!--                                    <span data-animation="fadeInUp" data-delay=".3s">간략한 회사소개</span>-->
<!--                                </div>-->
<!--                                <h1 data-animation="fadeInUp" data-delay=".5s">advanced</h1>-->
<!--                                <div class="stock-text" data-animation="fadeInUp" data-delay=".8s">-->
<!--                                    <h2>Construction</h2>-->
<!--                                    <h2>Construction</h2>-->
<!--                                </div>-->
<!--                                <div class="hero-text2 mt-110" data-animation="fadeInUp" data-delay=".9s">-->
<!--                                    <span><a href="services.html">Our Services</a></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <!-- slider Area End-->

    <!--latest Nnews Area start -->
    <div class="latest-news-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle7 mb-50">
                        <div class="front-text">
                            <h2 class="">New Arrival</h2>
                        </div>
<!--                        <span class="back-text">Our Blog</span>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <!-- single-news -->
                    <div class="single-news mb-30">
                        <div class="news-img">
                            <img src="assets/img/david/david_1.png" alt="">
                            <div class="news-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="news-caption">
                            <ul class="david-info">
                                <li> | &nbsp; &nbsp;  Porperties</li>
                            </ul>
                            <h2><a href="single-blog.html">Footprints in Time is perfect
                                House in Kurashiki</a></h2>
                            <a href="prodList" class="d-btn">Read more »</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <!-- single-news -->
                    <div class="single-news mb-30">
                        <div class="news-img">
                            <img src="assets/img/david/david_2.png" alt="">
                            <div class="news-date text-center">
                                <span>24</span>
                                <p>Now</p>
                            </div>
                        </div>
                        <div class="news-caption">
                            <ul class="david-info">
                                <li> | &nbsp; &nbsp;  Porperties</li>
                            </ul>
                            <h2><a href="single-blog.html">Footprints in Time is perfect
                                House in Kurashiki</a></h2>
                            <a href="prodList" class="d-btn">Read more » </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--latest News Area End -->
<!-- Project Area Start -->
<section class="project-area  section-padding30">
    <div class="container">
       <div class="project-heading mb-35">
            <div class="row align-items-end">
                <div class="col-lg-6">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle3">
                        <div class="front-text">
                            <h2 class="">Product</h2>
                        </div>
                        <span class="back-text">Gellary</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="properties__button">
                        <!--Nav Button  -->                                            
                        <nav> 
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false"> Show  all </a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Intorior</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Recent</a>
                                <a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Big building</a>
                                <a class="nav-item nav-link" id="nav-technology" data-toggle="tab" href="#nav-techno" role="tab" aria-controls="nav-contact" aria-selected="false">Park</a>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
       </div>
        <div class="row">
            <div class="col-12">
                <!-- Nav Card -->
                <div class="tab-content active" id="nav-tabContent">
                    <!-- card ONE -->
                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                        <div class="project-caption">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project1.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                            <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project2.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project3.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project4.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project5.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project6.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card TWO -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="project-caption">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project5.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project6.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project1.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project2.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project3.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project4.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card THREE -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="project-caption">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project3.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project4.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project1.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project2.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project5.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project6.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card FUR -->
                    <div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
                        <div class="project-caption">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project1.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project2.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project3.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project4.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project5.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project6.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- card FIVE -->
                    <div class="tab-pane fade" id="nav-techno" role="tabpanel" aria-labelledby="nav-technology">
                        <div class="project-caption">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project1.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project2.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project3.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project4.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project5.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="single-project mb-30">
                                        <div class="project-img">
                                            <img src="assets/img/gallery/project6.png" alt="">
                                        </div>
                                        <div class="project-cap">
                                           <a href="project_details.html" class="plus-btn"><i class="ti-plus"></i></a>
                                            <h4><a href="project_details.html">Floride Chemicals</a></h4>
                                            <h4><a href="project_details.html">Factory</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Nav Card -->
            </div>
        </div>
    </div>
</section>
<!-- Project Area End -->
</main>
<footer>
    <div th:insert="@{common/footer}" id="footer"></div>
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script th:src="@{assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{assets/js/popper.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{assets/js/jquery.slicknav.min.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{assets/js/owl.carousel.min.js}"></script>
<script th:src="@{assets/js/slick.min.js}"></script>
<!-- Date Picker -->
<script th:src="@{assets/js/gijgo.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:src="@{assets/js/wow.min.js}"></script>
<script th:src="@{assets/js/animated.headline.js}"></script>
<script th:src="@{assets/js/jquery.magnific-popup.js}"></script>

<!-- Scrollup, nice-select, sticky -->
<script th:src="@{assets/js/jquery.scrollUp.min.js}"></script>
<script th:src="@{assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{assets/js/jquery.sticky.js}"></script>

<!-- counter , waypoint -->
<script th:src="@{assets/js/waypoints.min.js}"></script>
<script th:src="@{assets/js/jquery.counterup.min.js}"></script>

<!-- contact js -->
<script th:src="@{assets/js/contact.js}"></script>
<script th:src="@{assets/js/jquery.form.js}"></script>
<script th:src="@{assets/js/jquery.validate.min.js}"></script>
<script th:src="@{assets/js/mail-script.js}"></script>
<script th:src="@{assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{assets/js/plugins.js}"></script>
<script th:src="@{assets/js/main.js}"></script>

</body>
</html>