<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toolmarket.toolmarket.mapper.BoardMapper">

    <select id="selectAll" resultType="com.toolmarket.toolmarket.dto.BoardDto">
        SELECT group_id
        ,seq
        ,title
        ,content
        ,writer
        ,cdate
        ,udate
        FROM board
        where group_id = #{groupId}
    </select>

    <select id="selectById" resultType="com.toolmarket.toolmarket.dto.BoardDto">
        SELECT group_id
        ,SEQ
        ,title
        ,content
        ,writer
        ,cdate
        ,udate
        FROM board
        WHERE SEQ= #{id} AND group_id = #{groupId}
    </select>

<!--    <delete  id="deleteById">-->
<!--        DELETE FROM board WHERE ID=#{id} and group_id=#{groupId}-->
<!--    </delete>-->

<!--    <insert id="insertBoard">-->
<!--        insert-->
<!--            into-->
<!--                board (group_id,title,content,writer,createdDate )-->
<!--                values (-->
<!--                    #{groupId}-->
<!--                    ,#{title}-->
<!--                    ,#{content}-->
<!--                    ,#{writer}-->
<!--                    ,NOW()-->
<!--        )-->
<!--    </insert>-->

<!--    <update id="updateById">-->
<!--        UPDATE board SET groupId=#{groupId},title=#{title},content=#{content},writer=#{writer},udate=NOW() where id=#{id} and group_id=#{groupId}-->

<!--    </update>-->
</mapper>