<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toolmarket.toolmarket.mapper.BoardMapper">

    <select id="selectAll" resultType="com.toolmarket.toolmarket.dto.BoardDto">
            SELECT * FROM BOARD
    </select>

    <select id="selectById" resultType="com.toolmarket.toolmarket.dto.BoardDto">
         SELECT
            a.SEQ
            ,a.BTYPE
            ,b.BNAME
            ,a.TITLE
            ,a.WRITER
            ,a.CONTENT
            ,a.EMAIL
            ,a.CDATE
            ,a.UDATE
            ,a.HIT
        FROM BOARD a
        JOIN BOARDGROUP b
        ON a.BTYPE = b.BID
        WHERE a.SEQ = #{seq}
    </select>

<!--    <delete  id="deleteById">-->
<!--        DELETE FROM board WHERE ID=#{id} and group_id=#{groupId}-->
<!--    </delete>-->

    <insert id="insertBoard">
        INSERT
            INTO
                BOARD (BTYPE,TITLE,CONTENT,WRITER,EMAIL,CDATE)
                values (
                    #{bType}
                    ,#{title}
                    ,#{content}
                    ,#{writer}
                    ,#{email}
                    ,NOW()
        )
    </insert>

    <update id="updateById">
        UPDATE
            BOARD
                SET
                    TITLE = #{title}
                    ,EMAIL = #{email}
                    ,CONTENT = #{content}
                    ,WRITER = #{writer}
                    ,UDATE =NOW()
        WHERE
                SEQ = #{seq}

    </update>
</mapper>