<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toolmarket.toolmarket.mapper.BoardMapper">

    <select id="selectAll" resultType="com.toolmarket.toolmarket.dto.BoardDto">
        SELECT id
        ,title
        ,content
        ,writer
        ,createdDate
        ,modifiedDate
        FROM board
    </select>

    <select id="selectById" resultType="com.toolmarket.toolmarket.dto.BoardDto">
        SELECT id
        ,title
        ,content
        ,writer
        ,createdDate
        ,modifiedDate
        FROM board
        WHERE ID= #{id}
    </select>

    <delete  id="deleteById">
        DELETE FROM board WHERE ID=#{id}
    </delete>

    <insert id="insertBoard">
        insert
            into
                board (title,content,writer,createdDate )
                values (
                    #{title}
                    ,#{content}
                    ,#{writer}
                    ,NOW()
        )
    </insert>

    <update id="updateById">
        UPDATE board SET title=#{title},content=#{content},writer=#{writer},modifiedDate=NOW() where id=#{id}

    </update>
</mapper>